<label for="">Mida imatge:
  <input type="text" [(ngModel)]="imageSize">
</label>
<h1>Pagina {{this.page}} de {{this.totalPages}}</h1>
<hr>
<table>
  <tr>
    <th>Títol</th>
    <th>id</th>
    <th>Imatge</th>
    <th>Visualitzar</th>
  </tr>
  <tr *ngFor="let row of this.artworks">
    <td>{{row[1]}}</td>
    <td>{{row[0]}}</td>
    <td><img src={{row[2]}}></td>
  </tr>
</table>
<label for="">Documents per plana:
  <input type="text" [(ngModel)]="this.limit">
</label>
<label for="">Plana:
  <input type="text" [(ngModel)]="this.page">
</label>
<button (click)="getArtworks()">Cerca</button>
<br><br><br><br><br>
<table>
  <tr>
    <th>Títol</th>
    <th>Imatge</th>
    <th>Nom Aritsta</th>
    <th>Neixement</th>
    <th>Mort</th>
  </tr>
  <tr *ngFor="let row of this.staticArtworks">
    <td>{{row[1]}}</td>
    <td><img src={{row[2]}}></td>
    <td>{{row[3]}}</td>
    <td>{{row[4]}}</td>
    <td>{{row[5]}}</td>

  </tr>
</table>